<div class="wrapper m-5">
    <form class="">
      <div class="form-group">
        <label>P_ID</label>
        <input class="form-control" [(ngModel)]="pid" name="pid" placeholder="Enter pid">
      </div>
      <div class="form-group">
        <label>S_ID</label>
        <input class="form-control" [(ngModel)]="s_id" name="s_id" placeholder="Enter s_id">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <div class="input-group">
              <label class="mr-2">Date From</label>
              <input class="form-control" placeholder="yyyy-mm-dd"
              name="date_from" [(ngModel)]="date_from" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"> <img src="../../assets/cal" style="height:20px; width: 20px;" alt="cal"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <div class="input-group">
              <label class="mr-2">Date To</label>
              <input class="form-control" placeholder="yyyy-mm-dd"
              name="date_to" [(ngModel)]="date_to" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"> <img src="../../assets/cal" style="height:20px; width: 20px;" alt="cal"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" (click)="onFormSubmit(skip)" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <hr>
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-12">
        <table id="" class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Keyword</th>
              <th>Rank</th>
              <th>Difference</th>
              <th>Direction</th>
              <th>Rank URL</th>
            </tr>
          </thead>
          <tbody>

              <tr *ngIf="showspinner">
                  <td colspan="5" align="center">
                      <spinner></spinner>
                  </td>
              </tr>
            <tr *ngFor="let data of collectedData">
              <td>{{data.kw}}</td>
              <td>{{data.rank}}</td>
              <td>{{data.diff}}</td>
              <td>{{data.dirc}}</td>
              <td>{{data.r_url}}</td>
            </tr>
            <tr *ngIf="noData" align="center">
                <td colspan="5">
                    No Data Found
                </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="row float-right">
      <button class="btn btn-primary mr-1" (click)="onPageChange('down')">&lsaquo;</button>
      <button class="btn btn-primary" (click)="onPageChange('up')">&rsaquo;</button>
    </div>
  </div>  